<div id="{{id}}">
    <a href="{{ url('greet',{"name":"home"}) }}">Home</a> |
    <a href="{{ url('greet',{"name":"about"}) }}">About</a> |
    <a href="{{ url('greet',{"name":"contact"}) }}">Contact</a> |
</div>